@import "../../../../resources/variables/product.color";
@import "../../../../resources/variables/golden.ratio";

h1 {
  color: sand("night");
}
:host {
  //min-height: 100vh;
}
.viewport {
  min-height: 100vh;
}
.background {
  //min-height: 100%;
  .o-banner .o-fill {
    // Binding
    background-color: cave();
    border-width: ratio(small, 12);
    border-color: cave(night);
    border-style: solid;

    border-left: none;
    border-right: none;
  }
  //Header controller
  $header-factor: 32;
  .o-nav {
    // Binding
    height: 36px; //ratio(small, (ratio(large, 1, 2) * ($header-factor * 1.2)));
    /*
    min-height: lock(
      height,
      ratio(small, (ratio(large, 1, 2) * ($header-factor * 1.2)), 2)
    );
    */
  }
  .o-banner {
    // Binding
    height: 80px; //ratio(small, (ratio(small, 1, 2) * $header-factor));
    /*
    min-height: lock(
      height,
      ratio(small, (ratio(small, 1, 2) * $header-factor), 2)
    );
    */
  }
  &.o-vertical-nav {
    position: relative;
    background-color: force(dusk);
    width: ratio(small, 3);

    .o-papper {
      position: absolute;
    }
    .o-decoration {
      height: 100%;
      margin-right: -1px !important;
      border-right-color: stone(night);
      border-right-style: solid;
      border-right-width: 1px;
      .o-foundation {
        width: ratio(small, 8) + ratio(small, 48);
        background-color: stone(night);
        border-right-color: rgba(cave(night), ratio(small, 1, 2));
        border-right-style: solid;
        border-right-width: 1px;
      }
      /*
      .o-deph {
        z-index: 10;
      }
      .o-depth,
      .o-content .o-depth {
        width: ratio(small, 96);
        background-color: rgba(cave(night), ratio(large, 1, 2));
      }
      */
      .o-content {
        width: 100% - (ratio(small, 8) + ratio(small, 48) + ratio(small, 96));
      }
    }
    .o-content {
      .o-nav {
        width: 100% - (ratio(small, 8) + ratio(small, 48));
        header {
          background-color: transparent;
          a {
            padding-left: 6px;
            padding-right: 6px;
          }
        }
      }
      .o-banner {
        width: 100%;

        .o-fill {
          width: ratio(large, 8);
          .o-earth {
            width: ratio(large);
            margin: ratio(small, 8);
            background-image: url("../../../../resources/images/earth_day_night.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: left;
          }
        }
        .o-perspective {
          background-color: cave(night);
          width: ratio(small, 48);
          transform: skewY(225deg);
          transform-origin: top left;
          margin-right: ratio(small, 48) * -1;
        }
      }
    }
  }
  &.o-container {
    background-color: rgba(snow(), ratio(small, 1, 2));
    width: ratio(large, 3);
    // min-height: 100%;
    .o-nav {
      // width: ratio(small);
      width: 100% - ratio(small, 24);

      .btn-group {
        margin-right: 0;
        .btn {
          border: none;
          color: sky(night);
        }
      }
      .o-vultus {
        width: ratio(small, 2);
        margin-left: ratio(small, 32);
        mask-image: url("../../../../resources/images/vultus_ab_white.png");
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: left;
        background-color: cave();
      }
    }

    .o-content {
      width: 100%;
      min-height: 100% -
        (
          ratio(small, (ratio(large, 1, 2) * $header-factor)) +
            ratio(small, (ratio(small, 1, 2) * $header-factor))
        );
    }
  }
}

.o-banner {
  width: 100%;
  .o-fill {
    width: 100% - ratio(small, 24); // ratio(large, 16);
    position: relative;
    .o-label {
      position: absolute;

      .o-left {
        padding-left: ratio(small, 48, 2) * 100vh !important;
      }

      span {
        // Binding
        color: snow(dawn);
      }
      &.o-title {
        height: 100%;
        width: 100%;
        font-weight: 200;
        color: #fff;
        &.o-left {
          margin-left: ratio(small, 24, 2) * -100vh;

          &.o-small {
          }
          span {
            border-right-width: 0;
            border-left-width: 0;
          }
        }
        &.o-right {
          * {
            width: ratio(small, 24, 2) * 100vh;
          }
          span {
            border-right-width: 0;
            border-left-width: 0;
          }
        }
        div {
          // background-color: rgba(sky(night), ratio(small, 6, 2));
        }
        div:first-child {
          background-color: rgba(sky(night), ratio(small, 6, 2));
          border-top-color: rgba(sky(night), ratio(small, 1, 2));
          border-top-width: 1px;
          border-top-style: solid;
          margin-top: -3px;
        }
        div:last-child {
          background-color: rgba(sky(night), ratio(small, 9, 2));
          border-bottom-color: rgba(sky(night), ratio(small, 1, 2));
          border-bottom-width: 1px;
          border-bottom-style: solid;
          margin-bottom: -3px;
        }
        span {
          width: 100%;
          line-height: 100%;
          font-size: size(headline);
          padding-top: 3px;
          padding-bottom: 6px;
          padding-left: ratio(small, 96, 2) * 100vh;
          border-color: rgba(stone(dusk), ratio(small, 6, 2));
          border-width: 1px;
          border-right-width: 0px;
          border-left-width: 0px;
          border-style: solid;
          background-color: rgba(sky(day), ratio(small, 24, 2));
          position: relative;

          .o-vultus-ab {
            margin-top: 3px;
            margin-left: ratio(small, 20);
            height: 38px;
            position: absolute;
          }
          .o-vultus-ab-text {
            margin-top: 3px;
            margin-left: ratio(small, 3);
            color: #fff;
            height: 30px;
            line-height: 30px;
            font-size: 30px;
            font-weight: 900;
            // font-family: Arial, Helvetica, sans-serif;
            letter-spacing: -1px;
            position: absolute;
          }
        }
      }
      &.o-subtitle {
        height: ratio(small);
        span {
          $unit: size(label);
          line-height: 100%;
          font-size: $unit;
        }
      }
    }
  }
}
/*
.viewport.footer {
  min-height: ratio(small, 3) !important;
}
.background.footer {
  &.o-vertical-nav {
    background-color: rgba(sky(dawn), ratio(large, 3, 2)) !important;
    .o-foundation {
      background-color: stone(dawn) !important;
    }
    .o-depth {
      background-color: rgba(sky(dawn), ratio(large, 3, 2)) !important;
    }
  }

  &.o-container {
    background-color: rgba(snow(dawn), ratio(small, 1, 2)) !important;
  }
}
*/
